<app-header></app-header>
<app-navigation></app-navigation>
<!--<div class="topnav">
  <div class="w3-left">
    <a href="#">View Holidays</a>
    <a href="#">View Leave history</a>
    <a href="#">AddHolidays</a> 
    <a href="#"><span class="fa fa-home"></span> Admin</a>
  </div>
  <div class="w3-right">
    <a href="#"><span class="fa fa-sign-out"></span> Logout</a>
  </div>
</div>
          <div class="topnav">
                <div class="w3-left">
                    <a routerLink="/employee-dashboard" routerLinkActive="active">Dashboard</a>
                    <a routerLink="/employee-details-display" routerLinkActive = "active">Employee Details</a>
                    <a routerLink="/manager-details" routerLinkActive="active">Manager Details</a>
                    <a routerLink = "/apply-leave" routerLinkActive = "active">Apply Leave</a>
                    <a routerLink = "/employeeleavehistory" routerLinkActive = "active">Leave History</a>
                </div>
                <div class="w3-right">
                        <a routerLink = "/login" routerLinkActive = "active">Logout</a>
                </div>
                    
            </div>-->
        <div class="card" *ngFor = "let e of emp1" >

                            <img src="{{e.image}}" alt="Selva Kumar" style="width:45%; border-radius:140px;" >
                            <br>
                    
                        <table>
                            <br>
                            <tr>
                                <td align = left>
                                    <b>Manager ID</b>
                                </td>
                                <td align = left>
                                    {{e.employee_Id}}
                                </td>   
                            </tr>
                            <br>
                            <tr>
                                <td align = left>
                                    <b>First Name </b>
                                </td>
                                <td align = left>
                                    {{e.employee_FirstName}}
                                </td>  
                            </tr>
                            <br>
                            <tr>
                                <td align = left>
                                   <b> Last Name</b>
                                </td>
                                <td align = left>
                                    {{e.employee_LastName}}
                                </td> 
                                  
                            </tr>
                            <br>
                            <tr >
                                <td align = left>
                                    <b>Email Address</b>
                                </td>
                                <td align = left>
                                    {{e.employee_Email}}
                                </td>   
                            </tr>
                            <br>
                            <tr>
                                <td align = left>
                                   <b> Mobile</b>
                                </td>
                                <td align = left>
                                    {{e.employee_Phone}}
                                </td>   
                            </tr>
                            <br>
                            
                            </table>
                    
                    </div>
                    <br>
                    <br>
                    <br>
                    
                                     
<app-footer></app-footer>


