<div class="topnav">
            <div class="w3-left">
              <a routerLink="/adminholidayview" routerLinkActive="active">View Holidays</a>
              <a routerLink="/adminleavehistory" routerLinkActive="active">View Leave history</a>
              <a routerLink="/adminholidayadd" routerLinkActive="active">AddHolidays</a> 
              <a routerLink="/admindashboard" routerLinkActive="active"><span class="fa fa-home"></span> Admin</a>
            </div>
            <div class="w3-right">
              <a routerLink="/login" routerLinkActive="active"><span class="fa fa-sign-out"></span> Logout</a>
            </div>
          </div>