body{
    margin:0;
    background-color: grey;
}
img { 
    display: inline-block;
  } 
 header{
     background: White;
     color: black;
     
}

footer{
    color:rgb(255, 255, 255);
    margin-top:500px;
  }
  footer :hover{
    color: rgba(0, 0, 0, 0.836);
  }
 .navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  }
  
  .navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  }
  
  .navbar a:hover {
  background: #ffffff;
  }
  
  body {
      margin-bottom:10px;
      background-color: rgb(141, 143, 137)
  }
  
  .topnav{
    margin-top:130px;
    height: justify;
  overflow: hidden;
  float:center;
  background-color: rgb(0, 0, 0)
  }
  
 
  .topnav a {
  color: rgb(255, 255, 255);
  float: left;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
  }
  .topnav a:hover {
  color: rgb(25, 187, 120);
  }


.section{
    clear: both;
    border-radius: 5px;
    color:white;
    font-size: large;
    padding: 50px ;
    float: left;
    margin: 50px;
    width: 50%;
}
