<app-header></app-header>
<app-navigation></app-navigation>

<!--<div class="topnav">
  <div class="w3-left">
    <a href="#">View Holidays</a>
    <a href="#">View Leave history</a>
    <a href="#">AddHolidays</a> 
    <a href="#"><span class="fa fa-home"></span> Admin</a>
  </div>
  <div class="w3-right">
    <a href="#"><span class="fa fa-sign-out"></span> Logout</a>
  </div>
</div>
          <div class="topnav">
                <div class="w3-left">
                    <a routerLink="/employee-dashboard" routerLinkActive="active">Dashboard</a>
                    <a routerLink="/employee-details-display" routerLinkActive = "active">Employee Details</a>
                    <a routerLink="/manager-details" routerLinkActive="active">Manager Details</a>
                    <a routerLink = "/apply-leave" routerLinkActive = "active">Apply Leave</a>
                    <a routerLink = "/employeeleavehistory" routerLinkActive = "active">Leave History</a>
                </div>
                <div class="w3-right">
                        <a routerLink = "/login" routerLinkActive = "active">Logout</a>
                </div>
                    
            </div>-->

<!--<div class="container">
<section>
    
	<div class="row">
		<div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><b> Employee Dashboard </b></h3>
                </div>
                <div class="panel-body">
                    
                    <div class="row">
                        <div class="col-md-12">
                          <!-- dblue --
                          <a routerLink = "/employee-details-display" routerLinkActive = "active" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />Employee Details</a>
                          
                         
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                              <!-- dgreen --
                              <a routerLink = "/manager-details" routerLinkActive = "active" class="btn btn-dblue btn-lg" role="button"><span class="glyphicon glyphicon-user glyphsize"></span> <br />Manager Details</a>
                            </div>
                        </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                          <!-- dgreen --
                          <a routerLink = "/apply-leave" routerLinkActive = "active" class="btn btn-dgreen btn-lg" role="button"><span class="glyphicon glyphicon-envelope glyphsize"></span> <br/>Apply Leave </a>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                          <!-- orange --
                          <a routerLink = "/employeeleavehistory" routerLinkActive = "active" class="btn btn-orange btn-lg" role="button"><span class="glyphicon glyphicon-time glyphsize"></span> <br/>Leave History</a>
                        </div>
                    </div>
                    
                   
                   
                   
                    
                    
                    
                    

                </div>
                
            </div>
        </div>
    </div>
</section>
</div>-->

    
    <!--team-1-->
    <div class="bodyi" >
    <div class="row" >
        <div class="column">
            <a routerLink = "/employee-details-display" routerLinkActive = "active"role="button"> 
          <div class="card">
            <div>
              <img src = "assets/empicon.jpg" Style= "width : 60%; height: 250%">
            </div>
            <div class = "emp">
              Employee Details
            </div>

          </div>
        </a>
        </div>
      
        <div class="column">
            <a routerLink = "/manager-details" routerLinkActive = "active" role="button">
          <div class="card" style="background-color: #ffb366">
              <div>
                  <img src = "assets/manicon.png" Style= "width : 60%; height: 220%">
                </div>
                <div class = "emp1 ">
                     Manager Details
                </div>
          </div>
          </a>
        </div>
        
        <div class="column">
            <a routerLink = "/apply-leave" routerLinkActive = "active" role="button">
          <div class="card" style="background-color: #ff82ac">
              <div>
                  <img src = "assets/leaicon.ico" Style= "width : 60%; height: 220%">
                </div>
                <div class = "emp3 ">
                     Apply Leave
                </div>
          </div>
          </a>
        </div>
        
        <div class="column">
            <a routerLink = "/employeeleavehistory" routerLinkActive = "active" role="button">
          <div class="card" style="background-color: #cc99ff">
              <div>
                  <img src = "assets/histicon.png" Style= "width : 60%; height: 220%">
                </div>
                <div class = "emp4 ">
                     Leave History
                </div>
          </div>
          </a>
        </div>
        </div>
        </div>
        
<app-footer></app-footer>