<app-header></app-header>
    <app-navbar></app-navbar>


<div class="body">
<div>
  <br>
  <br>
</div>
    <table *ngFor = "let e of emp" class="w3-center">
        <tr>
          <h2>Welcome</h2>
        </tr>
        <tr>
            <figure><img src="{{e.image}}" class="img-responsive" alt="sairam"></figure>
        </tr>
        <tr>
            ID : {{e.employee_Id}}
          </tr>
        <tr>
          Name : {{e.employee_FirstName}},{{e.employee_LastName}}
        </tr>
        <tr>
          Email : {{e.employee_Email}}
        </tr>
        <tr>
          Mobile : {{e.employee_Phone}}
        </tr>
        <tr>
          Address : {{e.employee_Address}}
        </tr>
        <tr>
          Joining Date : {{e.employee_Joining}}
        </tr>
      </table>
<br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>

<br>


</div>

<app-footer></app-footer>