
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
 <app-header></app-header>
 <div style="background:#48465c;color:white">
  
<div class="topnav">
    <div class="w3-left">
      <a routerLink="/leave-page" routerLinkActive="active">LeavePage</a>
      <a routerLink="/manager-dash-board" routerLinkActive="active"><span class="fa fa-home"></span> Home</a>
    </div>
    <div class="w3-right">
      <a routerLink="/home" routerLinkActive="active"><span class="fa fa-sign-out"></span> Logout</a>
    </div>
  </div>

<div>
  <div class="w3-left" style="margin-left: 60px;">
      <div class="card">
          <div class="card-body">      
             <img src="assets/manager1.jpg" alt="manager" style="width:150px;height:170px;">   
          </div>
          <div class="w3-right">
            <h4><b>Name:</b>Vikneswaran</h4>
            <br>
            <h4><b>Employee Id:</b>34234324</h4>
            <br>
            <h4><b>Employee Email ID:</b>Vicky@gmail.com</h4>
          </div>
        </div> 
       
  </div>
  
</div>

<br>


            <div class="card-body" >      
            <table class="table table-hover"style="background:white;color:black">
            <thead>
              <tr>
                    <th><h3>Id</h3></th>
                <th><h3>Firstname</h3></th>              
                <th><h3>Email</h3></th>
                <th><h3>Start date</h3></th>
                <th><h3>end date</h3></th>               
                <th><h3>Status</h3></th>
                <th><h3>Reason</h3></th>
              </tr>
            </thead>
          
          <tbody>
                <tr *ngFor = "let emp of holidays">
                        <td>{{emp.id}}</td>
                  <td>{{emp.Firstname}}</td>
            <td>{{emp.Email}}</td>
            <td>{{emp.Startdate}}</td>
            <td>{{emp.enddate}}</td>
            <td>{{emp.Status}}</td>
            <td>{{emp.Reason}}</td>
            <td><button type = "submit" style ="background-color: #4caf50; border-color: #4caf50;"class="btn btn-primary">Accept</button></td>
            <td><button type = "reset" style ="background-color: #f43f3f; border-color: #f43f3f;" class="btn btn-primary">Reject</button></td>
                </tr>
              </tbody>
            </table>
           
    </div>
    
</div>


<app-footer></app-footer>
