
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
 <app-header></app-header>
 <div style="background:#48465c;color:white">
  
<div class="topnav">
    <div class="w3-left">
      <a routerLink="/leave-page" routerLinkActive="active">LeavePage</a>
      <a routerLink="/manager-dash-board" routerLinkActive="active"><span class="fa fa-home"></span> Home</a>
    </div>
    <div class="w3-right">
      <a routerLink="/home" routerLinkActive="active"><span class="fa fa-sign-out"></span> Logout</a>
    </div>
  </div>

<div>
  <div class="w3-left" style="margin-left: 60px;">
      <div class="card">
          <div class="card-body">      
             <img src="{{emp[0].image}}" alt="manager" style="width:150px;height:170px;">   
          </div>
          <div class="w3-right">
            <h4><b>First Name:</b>{{emp[0].employee_FirstName}}</h4>
            <br>
            <h4><b>Employee Id:</b>{{emp[0].employee_Id}}</h4>
            <br>
            <h4><b>Employee Email ID:</b>{{emp[0].employee_Email}}</h4>
          </div>
        </div> 
       
  </div>
  
</div>

<br>


            <div class="card-body" >      
            <table class="table table-hover"style="background:white;color:black">
            <thead>
              <tr>
                    <th><h3>Employee_Id</h3></th>
                <th><h3>Leave_Id</h3></th>              
                <th><h3>Leave_Type</h3></th>
                <th><h3>Leave_Reason</h3></th>
                <th><h3>From_Date</h3></th>               
                <th><h3>To_Date</h3></th>
                <th><h3>Action</h3></th>
              </tr>
            </thead>
          
          <tbody>
                <tr *ngFor = "let lea of leave; let i = index">
                        <td>{{lea.employee_Id}}</td>
                  <td>{{lea.leave_Id}}</td>
            <td>{{lea.leave_Type}}</td>
            <td>{{lea.leave_Reason}}</td>
            <td>{{lea.from_Date}}</td>
            <td>{{lea.to_Date}}</td>
            <td><button style ="background-color: #4caf50; border-color: #4caf50;"class="btn btn-primary" (click)="Accept(lea.leave_Id,i)">Accept</button></td>
            <td><button style ="background-color: #f43f3f; border-color: #f43f3f;" class="btn btn-primary" (click)="Reject(lea.leave_Id,i)">Reject</button></td>
                </tr>
              </tbody>
            </table>
           
    </div>
    
</div>


<app-footer></app-footer>
