
<app-header></app-header>
<div style="background-color: #fffdd0">

<div class="topnav w3-center">
  <div class="w3-left">
    <h2>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LEAVE MANAGEMENT SYSTEM
    </h2>
  </div>
  <div class="w3-right">
    <h3>
      <a routerLink="/admindashboard" routerLinkActive="active"><span class="fa fa-sign-in"></span>
        login
      </a>
    </h3>
  </div>
</div>

<div id="slideshow">
  <div class="slide-wrapper">
    <div class="slide">
      <img class="slide-number"src="assets/holidays.jpg" style="height: 300px;width: 728px;">
    </div>
    <div class="slide">
      <img class="slide-number"src="assets/officelogo.jpg" style="height: 300px;width: 728px;">
    </div>
    <div class="slide">
      <img class="slide-number"src="assets/office.jpg" style="height: 300px;width: 728px;">
    </div>
    <div class="slide">
      <img class="slide-number"src="assets/office1.jpg" style="height: 300px;width: 728px;">
    </div>
  </div>
</div>

<br><br><br>

<div>
  <img src="assets/office3.jpg" style="height: 300px;width: 100%;">
</div>

<div>
<!--     <div class="w3-left">
        <img src="assets/office4.jpg" style="margin-left:0px;height: 150px;width: 70%">
</div> -->
  <!-- <div class="w3-right">
      <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
          <agm-marker
            [latitude]="latitude"
            [longitude]="longitude"
            *ngIf="locationChosen"></agm-marker>
        </agm-map>
  </div>     -->

<footer>
  <table class="w3-center" style="background-color:#333; ; color: white;width: 100%">
    <h1><caption>Headquarters</caption></h1>
    <tr>
      <td>
          North America<br>
          Metro 101, Suite 600,101 Wood Avenue South,<br>
          Iselin, New Jersey - 08830<br>
          Tel: +1-609-409-6950<br>
          Email: marketing@hexaware.com<br>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
          India<br>
          Mumbai- Headquarters<br>
          “A" Block, TTC Industrial Area,<br>
          Sector-3, Mahape,<br>
          Tel: +91-022-67919595<br>
          Email: marketing@hexaware.com<br>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
          United Kingdom<br>
          Level 19, 40 Bank Street, Canary Wharf,<br>
          London - E14 5NR<br>
          Tel: +44 020 77 154 100<br>
          marketing@hexaware.com<br>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
          Singapore<br>
          180 Cecil Street, #11-02 Bangkok Building,<br>
          Singapore 069546<br>
          +65-6325 3020<br>
          marketing@hexaware.com<br>
      </td>
    </tr>
    <br>
    <br>
  </table>
</footer>
</div>
</div>
<app-footer></app-footer>