
<app-header></app-header>
<div style="background-color: #fffdd0">

<div class="topnav w3-center">
  <div class="w3-left">
    <h2>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LEAVE MANAGEMENT SYSTEM
    </h2>
  </div>
  <div class="w3-right">
    <button class="loginbtn" onclick="document.getElementById('id01').style.display='block'">Login</button>
               
  </div>
</div>

<div id="id01" class="modal">
                 
  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="assets\imagee.png" style= "width:20%" alt="Avatar" class="avatar">
    </div>

    <div class="container">
         <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">  
                 <div class="form-group"> 
      <label for="name"><b>Username</b></label><br>
      <input type="text" formControlName="email" class="form-control" [(ngModel)]="name" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div style="color:red" *ngIf="submitted && f.email.errors" class="invalid-feedback">
             <div *ngIf="f.email.errors.required">Email is required</div>
             <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
         </div>
                 </div>
                 <div class="form-group">
      <label for="password"><b>Password</b></label><br>
      <input type="password" formControlName="password" class="form-control"[(ngModel)]="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div style="color:red" *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
                 </div>
                 <div class="form-group">
                         <button [disabled]="loading" class="btn btn-primary">Login</button>
                     </div>
      </form>
    </div>
  </form>
</div>

<div id="slideshow">
  <div class="slide-wrapper">
    <div class="slide">
      <img class="slide-number"src="assets/holidays.jpg" style="height: 300px;width: 728px;">
    </div>
    <div class="slide">
      <img class="slide-number"src="assets/officelogo.jpg" style="height: 300px;width: 728px;">
    </div>
    <div class="slide">
      <img class="slide-number"src="assets/office.jpg" style="height: 300px;width: 728px;">
    </div>
    <div class="slide">
      <img class="slide-number"src="assets/office1.jpg" style="height: 300px;width: 728px;">
    </div>
  </div>
</div>

<br><br><br>

<div>
  <img src="assets/office3.jpg" style="height: 300px;width: 100%;">
</div>

<div>
<!--     <div class="w3-left">
        <img src="assets/office4.jpg" style="margin-left:0px;height: 150px;width: 70%">
</div> -->
  <!-- <div class="w3-right">
      <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
          <agm-marker
            [latitude]="latitude"
            [longitude]="longitude"
            *ngIf="locationChosen"></agm-marker>
        </agm-map>
  </div>     -->

<footer>
  <table class="w3-center" style="background-color:#333; ; color: white;width: 100%">
    <h1><caption>Headquarters</caption></h1>
    <tr>
      <td>
          North America<br>
          Metro 101, Suite 600,101 Wood Avenue South,<br>
          Iselin, New Jersey - 08830<br>
          Tel: +1-609-409-6950<br>
          Email: marketing@hexaware.com<br>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
          India<br>
          Mumbai- Headquarters<br>
          “A" Block, TTC Industrial Area,<br>
          Sector-3, Mahape,<br>
          Tel: +91-022-67919595<br>
          Email: marketing@hexaware.com<br>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
          United Kingdom<br>
          Level 19, 40 Bank Street, Canary Wharf,<br>
          London - E14 5NR<br>
          Tel: +44 020 77 154 100<br>
          marketing@hexaware.com<br>
      </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
          Singapore<br>
          180 Cecil Street, #11-02 Bangkok Building,<br>
          Singapore 069546<br>
          +65-6325 3020<br>
          marketing@hexaware.com<br>
      </td>
    </tr>
    <br>
    <br>
  </table>
</footer>
</div>
</div>
<app-footer></app-footer>