<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="fixed-header">
  <div class="w3-left">
      <a href=""><img src="assets/logo.jpg" height="70" width="90"></a>
  </div>
  <div class="w3-right">
      <nav>
          <a href="#">Admin</a>
          <a href="#">Manager</a>
          <a href="#">Employee</a>
      </nav>
  </div>
</div>
<div class="w3-center">
  <h2>Leave Management System</h2>
</div>    
<footer>
    <h4><a>© Hexaware Technologies. All rights reserved 2019</a></h4>
  </footer>