footer{
    color:rgb(255, 255, 255);
    position:fixed;
    left:0;
    bottom: 0;
    width: 100%;        
    background: #333;
    color: #fff;
}

.w3-left{
    margin-left: 15px;
}

.w3-center{
    margin-top:75px;
    background-color:#333;
    color: #fff;
}

.fixed-header{
    width: 100%;
    position: fixed;        
    background: rgb(255, 255, 255);
    padding: 0px 0;
    color: rgb(0, 0, 0);
}

.fixed-header{
    top: 0;
    left:0;
}

nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

nav a :hover{
    color: rgb(4, 0, 255);
}