
<div class="topnav">
        <div class="w3-left">
            <a routerLink="/employee-dashboard" routerLinkActive="active">Dashboard</a>
            <a routerLink="/employee-details-display" routerLinkActive = "active">Employee Details</a>
            <a routerLink="/manager-details" routerLinkActive="active">Manager Details</a>
            <a routerLink = "/apply-leave" routerLinkActive = "active">Apply Leave</a>
            <a routerLink = "/employeeleavehistory" routerLinkActive = "active">Leave History</a>
        </div>
        <div class="w3-right">
                <a routerLink = "/login" routerLinkActive = "active">Logout</a>
        </div>
            
    </div>