
  .topnav{
    margin-top: 82px;
    height: justify;
    overflow: hidden;
    float:center;
    background-color: #000000;
    
    }
    
    .navbar {
    border-radius: 0px 0px 8px 8px;
      overflow: hidden;
      background-color: rgb(255, 255, 255);
      position: fixed;
      top: 0;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
      
    .topnav a {
      float: right;
      display: block;
      color: #ffffff;
      text-align: center;
      padding: 20px 14px;
      text-decoration: none;
      font-size: 18px;
     
    }
    
    .topnav a:hover {
      background:  rgb(0, 0, 0);
      color: rgb(122, 204, 56);
    }
   
    .tp{
      margin-top: 80px;
      margin-left: 80px;
    
    }
    /* Style the topnav links */
    .topnav a {
    color: rgb(255, 255, 255);
    float: left;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
    }
    /* Change color on hover */
    .topnav a:hover {
    color: rgb(25, 187, 120);
    }
    body{
      margin:0;
      background-color: grey;
  }
  
   header{
       background: White;
       color: black;
       
  }
  
    
    body {
        margin-bottom:10px;
        background-color: rgb(141, 143, 137)
    }
    