<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<app-header></app-header>
<div style="background-color:rgb(175, 164, 164)">


    <div class="topnav">
        <div class="w3-left">
          <a routerLink="/leave-page" routerLinkActive="active">LeavePage</a>
          <a routerLink="/manager-dash-board" routerLinkActive="active"><span class="fa fa-home"></span> Home</a>
        </div>
        <div class="w3-right">
          <a routerLink="/home" routerLinkActive="active"><span class="fa fa-sign-out"></span> Logout</a>
        </div>
      </div>
 
            <table class="table table-hover">
                <thead>
                    <tr>
                      <th><h2>employee_Id</h2></th> 
                      <th><h2>leave_Id</h2></th>
                      <th><h2>leave_Type</h2></th>
                      <th><h2>leave_Reason</h2></th>
                      <th><h2>from_Date</h2></th>              
                      <th><h2>to_Date</h2></th>
                      <th><h2>leave_Status</h2></th>
                    </tr>
                  </thead>
                
                <tbody class="w3-center">
                    <tr *ngFor = "let lea of leave">
                        <td>{{lea.employee_Id}}</td>
                        <td>{{lea.leave_Id}}</td>
                        <td>{{lea.leave_Type}}</td>
                        <td>{{lea.leave_Reason}}</td>
                        <td>{{lea.from_Date}}</td>
                        <td>{{lea.to_Date}}</td>
                        <td>
                            <div *ngIf="lea.leave_Status=='Approved'; else Rejected">
                                <span class="btn btn-success">{{lea.leave_Status}}</span>
                              </div>
                              <ng-template #Rejected>
                                <div *ngIf="lea.leave_Status=='Rejected'; else notShow">
                                  <span class="btn btn-danger">{{lea.leave_Status}}</span>
                                </div>
                            </ng-template>
                              <ng-template #notShow>
                                  <span class="btn btn-warning">{{lea.leave_Status}}</span>
                              </ng-template>
                        </td>
                    </tr>
                    </tbody>
            </table>
           
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<app-footer></app-footer>>