<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<app-header></app-header>
<div style="background-color:rgb(175, 164, 164)">


 <nav class="navbar navbar-inverse" style="margin-top: 72px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a  routerLink="/manager-dash-board" routerLinkActive="active">About</a></li>      
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    
    <div class="col-sm-8 text-left">
            <div class="container">
                    <div class="row">
                      <div class="row"style="padding-bottom:40px;padding-top:20px">
                       
            
            <table class="table table-hover">
            <thead style="color: blue">
              <tr>
                    <th>Id</th>
                    <th>LeaveId</th>
                <th>First name</th>              
                <th>Start date</th>
                <th>End date</th>               
                <th>Status</th>

              </tr>
            </thead>
          
          <tbody>
                <tr *ngFor = "let emp of holidays">
                        <td><h4>{{emp.id}}</h4></td>
                        <td><h4>{{emp.leaveid}}</h4></td>
                  <td><h4>{{emp.Firstname}}</h4></td>
        
            <td><h4>{{emp.Startdate}}</h4></td>
            <td><h4>{{emp.enddate}}</h4></td>
            <td><h4>{{emp.Status}}</h4></td>
           
                </tr>
              </tbody>
            </table>
           
    </div>
    
  </div>
  
</div>
</div>

</div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<app-footer></app-footer>>